{% extends 'base.html.twig' %}

{% block title %}Ajouter un patient{% endblock %}

{% block body %}
<h1>Ajouter un patient</h1>
{{ form_start(form) }}
    {{ form_row(form.dateInscription) }}
    <button class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}
<a href="{{ path('patient_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
