{% extends 'dashboard/layout.html.twig' %}

{% block sidebar %}
    {% include 'dashboard/patient/_sidebar.html.twig' %}
{% endblock %}

{% block dashboard_content %}
<h2>Patient Dashboard</h2>
<p>Bienvenue Patient</p>
{% endblock %}