{% extends 'dashboard/layout.html.twig' %}

{% block sidebar %}
    {% include 'dashboard/medecin/_sidebar.html.twig' %}
{% endblock %}

{% block dashboard_content %}
<h2>Médecin Dashboard</h2>
<p>Bienvenue Médecin</p>
{% endblock %}